.pagination {
    list-style-type: none;
    margin-bottom: 2.5em;
    margin-top: 2em;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    padding-inline-start: 0;
}

.pagination>li {
    display: inline-block;
    padding: 7px 0px;
    border: 1px solid #e1e4e8;
    color: #0366d6;
    margin-left: -1px;
    cursor: pointer;
}

.pagination>li>a:focus {
    outline:0;
}

.pagination>li>a {
    padding: 7px 12px;
}

.activePage {
    background-color: #0366d6;
    border: 1px solid #0366d6!important;
    color: #fff!important;
}

.previous {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.next {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.disabled {
    background-color: #fafbfc;
    color: #d1d5da!important;
}